{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Jovem em Ação</title>
    <link rel="icon" href="imagens/jovemAcao-icon.png" type="image/icon type">
</head>
<body>
    
<div class="container-fluid">
    <div class="row">
      <!-- Barra de navegação lateral -->
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="diretor.php">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registrarAluno.php">Registrar Alunos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Registrar Funcionários</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Configurações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout.php">Sair</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <!-- Conteúdo principal -->
      <main class="col-md-10 ml-sm-auto">
        <div id="logo">
            <img src="{% static 'imagens/logo.png' %}" alt="logo">
        </div>
        <div class="form">
            <h2>Cadastro de Aluno</h2>
            <p>Por favor, preencha este formulário para cadastrar um aluno.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Registrar</button>
            </form>
           
        </div>    
        </main>
    </div>
</div>
</body>
</html>